
#deathui {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    z-index: 999;
    -webkit-transition: opacity 200ms linear;
    -webkit-user-select: none;
    overflow: none;

}

#deathui.visible {
    opacity: 1;
}



#radiusdiv{
  position: fixed;
  top: 7%;
  left:80%;
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(133,133,133,0.6);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1px #fff;
  border-radius: 3px;
  display: none;

}
#peopledielist{
  position: fixed;
  top: 30%;
  left:88%;
  font-size: 20px;
  font-family: 'Bungee', cursive;
  color: rgba(0, 255, 255, 1);
  display: none;
}
#peoplebeforelanunch{
  position: fixed;
  top: 5%;
  left:35%;
  font-size: 35px;
font-family: 'Bungee', cursive;
}
#reducearea{
  position: fixed;
  top: 6%;
  left:36%;
  font-size: 50px;
  font-family: 'Bungee', cursive;
  color: red;
  display: none;

}

#winner{
  position: fixed;
  top: 6%;
  left:36%;
  font-size: 50px;
  font-family: 'Bungee', cursive;
  color: red;
  display: none;

}

#isthewinner{
  position: fixed;
  top: 15%;
  left:36%;
  font-size: 50px;
  font-family: 'Bungee', cursive;
  color: red;
  display: none;
}

div.inside
{
    position: fixed;
    bottom: -15%;
    right: 50%;
    height: 40%;
    width: 1%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    transform: rotate(90deg);
}

div.background
{
    position: fixed;
    bottom: -15%;
    right: 50%;
    height: 40%;
    width: 1%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}

div.betawarning{
  position: fixed;
  bottom: 2%;
  right: 46%;
  font-size:15px;
  font-family: 'Bungee', cursive;
}

 #areadiv{
   position: fixed;
   top: 3%;
   left:81%;
   font-size: 25px;
   font-family: 'Orbitron', sans-serif;
   background-color: rgba(133,133,133,0.6);
   color: rgba(255, 255, 255, 0.8);
   border-radius: 3px;
   text-shadow: 0 0 1px #fff;
   display: none;

 }
 #timerdiv{
   position: fixed;
   top:35%;
   left: 40%;
   font-size: 30px;
   color: red;
   font-family: 'Bungee', cursive;
   display: none;

 }

 #area{
   position:fixed;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
   background-color:rgba(85, 89, 101, 0.8);
   border-radius:8px;
   -webkit-user-select:none;
   font-size:64px;
   color:#55c98c;
   padding:32px;
   text-align:center;
   transition:opacity .5s;
   display: none;

 }
 #healthbar{
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 2px;
   width: 400px;
   height: 20px;

 }
